@import 'tailwindcss';

@theme {
  /* General */
  --color-test: #ff0000;

  /* Dark Theme */
  --color-dark-bg: #151311;
  --color-dark-subbg: #0b0906;
  --color-dark-accent: #f5e0c7;
  --color-dark-subaccent: #A29786;
  --color-dark-fg-900: #a5987f;
  --color-dark-fg-700: #c1b19d;
  --color-dark-fg-500: #f5e0c7;
  --color-dark-fg-300: #fcefd8;
  --color-dark-fg-100: #FBF4E7;
  --color-dark-fg-50: #FFF6E5;
  --color-dark-card-1: #211f1d;
  --color-dark-card-2: #3e3833;
  --color-dark-card-3: #50483b;
  --color-dark-placeholder: #5a5247;
  --color-dark-field-bg: #373431;
  --color-dark-field-subbg: #413E3a;
  --color-dark-field-placeholder: #70685A;
  --color-dark-field-accent: #C2B7A6;
  --color-dark-button-accent: #50483B;
  --color-dark-fg-hc: #ffffff;
  --color-dark-bg-hc: #000000;
  --color-dark-error: #FF6644;

  /* Light Theme */
  --color-light-bg: #FAF9F6;
  --color-light-subbg: #FDFCF9;
  --color-light-accent: #3c2f1d;
  --color-light-subaccent: #7d6f5e;
  --color-light-fg-900: #85786f;
  --color-light-fg-700: #65584f;
  --color-light-fg-500: #3c2f1d;
  --color-light-fg-300: #52402a;
  --color-light-fg-100: #6a5332;
  --color-light-fg-50: #7f633b;
  --color-light-card-1: #ffffff;
  --color-light-card-2: #f3f0ec;
  --color-light-card-3: #e6e1d9;
  --color-light-placeholder: #a29788;
  --color-light-field-bg: #f0ede8;
  --color-light-field-subbg: #e6e4de;
  --color-light-field-placeholder: #938976;
  --color-light-field-accent: #6a5c4b;
  --color-light-button-accent: #7f633b;
  --color-light-fg-hc: #000000;
  --color-light-bg-hc: #ffffff;
  --color-light-error: #FF6644;

  --color-rating-terrible: #b90000;
  --color-rating-bad: #d66a00;
  --color-rating-good: #b9a100;
  --color-rating-great: #549c00;
  --color-rating-top: #007f8b;


  --font-alegreya-sans: 'Alegreya Sans', sans-serif;
  --font-alegreya: 'Alegreya', serif;
  --font-dm-sans: 'DM Sans', sans-serif;

  --text-2.5xl: 1.7rem;
  --text-ml: 1.0625rem;
  --text-ms: 0.9375rem;
  --radius-ml: 0.625rem;

  --spacing-90dvw: 90dvw; 
  
}

@custom-variant dark (&:where(.dark, .dark *));